.feed {
    min-width: 598px;
    max-width: 598px;
}

.homeButton {
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    padding: 13px 0px 14px 16px;
    font-size: 19px;
    letter-spacing: .2px;
    box-sizing: border-box;
}